
<% include ./partials/header %>
<h3> Vous pouver modifier la plainte de <%= plainte.plaignant_name%> ici:</h3>

<div class="card">
    <div class="card-header">
        Editer la plainte
    </div>
    <div class="card-body">
        <form class="m-5" action="/plaint/<%= plainte._id%>?_method=PUT" method="POST">
            
    <div class="row plaignant">
        
                  <div class="col">
                    <label for="plaignant"> Nom du Plaignant</label>
                    <input class="form-control" type="text" id="plaignant" name="plainte[plaignant_name]" value="<%=plainte.plaignant_name%>" >
                  </div>  
                  
                  <div class="col">
                         <label for="source">Catégorie du Plaignant</label>
                         <select class="form-control" id= "source" name="plainte[source]">
                             <option value="Staff"> Staff</option>
                             <option value="Staff-Partenaire"> Staff des partenaires</option>
                             <option value="Bénéficiaire">Bénéficiaire</option>
                             <option value="Donateur">Donateur</option>
                             <option value="Public">Public</option>
                             <option value="Anonyme">Anonyme</option>
                             <option value="Autre">Autre</option>
                          </select>     
                        
                  </div>
                  
                  <div class="col">
                         <label for="location">Location du Plaignant</label>
                         <select class="form-control" id= "sujet"value ="<%plainte.location%>" name="plainte[]">
                             <option value="Bujumbura">Bujumbura</option>
                             <option value="Cibitoke"> Cibitoke</option>
                             <option value="Kirundo"> Kirundo</option>
                             <option value="concern-information">Qualité des informations fournis</option>
                             
                          </select>     
                        
                   </div>
                   
                   
    
    </div>    
    
    <div class="row plainte">
        
       <div class="col">
                         <label for="sujet_plainte"> Sujet de la plainte</label>
                         <select class="form-control" id= "sujet" value ="<%plainte.sujet%>" name="plainte[sujet]">
                             <option value="Comportement d'un staff"> Comportement d'un staff</option>
                             <option value="Qualité de notre travail"> Qualité de notre travail</option>
                             <option value="Qualité de nos procédures"> Qualité de nos procédures</option>
                             <option value="Qualité des informations fournis">Qualité des informations fournis</option>
                             <option value="Le travail de nos partenaires">Le travail de nos partenaires</option>
                             <option value="Fraude">Fraude</option>
                             <option value="Les avantages du Staff"> Les avantages du Staff</option>
                          </select>     
                        
        </div>  
        
        
        
        <div class="col">
                       
                        <label for="datedesoummission">Date de soumission de la plainte</label>
                        <input class="form-control" type="date" id="datesoumission" name="plainte[date_soumission]" value="<%=plainte.date_soumission%>" >
                   
        </div>
        
        <div class="col">
            
         <label for="description"> Description de la plainte</label>
         <textarea class="form-control"  id="description" name="plainte[description]"> <%=plainte.description%></textarea>
         
        </div>
        
         <div class="col">
             
             
              <label for="status"> Status de la plainte</label>
              
              <input class="form-control" type="text" id="status" name="plainte[status]" value="<%=plainte.status%>"  placeholder="status" readonly>
        </div>
    
    
    </div>
    
    <div class="row mb-5">
       
    <div class="col">
    <label for="datereunion"> Date de Reunion CRM</label>
    <input class="form-control" type="date" id="datereunion" name="plainte[date_reunion]" value="<%=plainte.date_reunion%>" >
    </div>
                      
    <div class="col"> 
     <label for="assigned"> Plainte pour traitement assigné à :</label>
    <select class="form-control" id= "assigned" name="plainte[assigned]">
    <option value="<%= plainte.assigned %>"> <%= plainte.assigned %></option>
    </select>
    </div> 
        
        
        
    </div>
    
    
    <button class="btn btn-primary btn-block"> Envoyer</button>
    
</form>
    </div>
</div>

    
<% include ./partials/footer %>