   
<% include ./partials/header %>

<div class="card">
 <div class="card-header  border-bottom"> Consultation de la plainte <div>
 <div class=" d-flex card-body p-6 flex-wrap">
  
 

<!--start of show div flex-item-->
<div class="show br-7 w-100 border-left border-success pl-5">
 
 <!--Start of show of any item-->
 
     <div><span class="showitem font-weight-bold d-inline-block">Nom du/de la Plaignant(e): </span><%= plaint.plaignant_name %></div>
     
     <div> <span class="showitem font-weight-bold d-inline-block">Catégorie du/de la Plaignant(e) :</span> <%= plaint.source %></div>
    
     <div> <span class="showitem font-weight-bold d-inline-block">Location du /de la Plaignant(e) : </span><%= plaint.location %> </div>
     
     <div> <span class="showitem font-weight-bold d-inline-block">Sujet de la Plainte : </span><%= plaint.sujet %></div>
     
     <div> <span class="showitem font-weight-bold d-inline-block">Date de soummission de la plainte  : </span><%= plaint.date_soumission %></div>
     
     <div> <span class="showitem font-weight-bold d-inline-block">Description de la plainte  :</span> <div class="mr-100"><%= plaint.description %></div> </div>
     
     <div> <span class="showitem font-weight-bold d-inline-block">Status de la plainte  : </span> <%= plaint.status %></div>
     
     <div> <span class="showitem font-weight-bold d-inline-block">Date Reunion CRM  :</span> <%= plaint.date_reunion %></div>
     
     <div> <span class="showitem font-weight-bold d-inline-block">Plainte assigné à   :</span> <%= plaint.assigned %></div>
     
     




</br>
<p>
<a  class="btn btn-primary ml-auto" href="/plaint/<%= plaint._id%>/edit"> Editer la plainte</a> 


<%  if(plaint.investigations.length>0){ %>

<a class="btn btn-info" href="/plaint/<%= plaint._id%>/investigation/<%=plaint.investigations[0]._id%>">  Voir rapport investigation</a>

<% } else { %>

<a class="btn btn-secondary ml-auto " href="/plaint/<%= plaint._id%>/investigation/new">  Ecrire investigation</a>
<% }%>

</p>
 
 
 
</div>
<!--end of show flex item-->




 </div>
</div>
 

<% include ./partials/footer %>